/**
 * long description for the file
 *
 * @summary CSS that applies to the landing screen of the page
 * @author Cliff Crerar
 *
 * Created at     : 2018-04-30 04:47:23 
 * Last modified  : 2018-05-08 00:06:46
 */

.alert{
    position: absolute;
    z-index: 1040;
    width: 100%;
}