/**
 * long description for the file
 *
 * @summary This is the css for the intro section
 * @author Cliff Crerar
 *
 * Created at     : 2018-05-02 21:41:54 
 * Last modified  : 2018-06-26 01:09:14
 */



div>h3,
div>h2 {
    color: white;
}

.gr2Title {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border: 0 solid;
    border-top-width: calc(1px + 0.5vh) !important;
    border-bottom-width: calc(1px + 0.5vh) !important;
    border-color: var(--g2titleborder) !important;
    animation: shimmer 0.3s linear 15s 1;
    -webkit-animation: shimmer 0.3s linear 15s 1;
}

@keyframes shimmer {
    0% {
        background: linear-gradient(160deg, rgba(192,192,192,0.5) 0%, rgba(0,0,0,0.5) 10%);
    }
    10%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 0%, rgba(192,192,192,0.5) 10%, rgba(0,0,0,0.5) 20%);
    }
    15%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 5%, rgba(192,192,192,0.5) 15%, rgba(0,0,0,0.5) 25%);
    }
    20%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 10%, rgba(192,192,192,0.5) 20%, rgba(0,0,0,0.5) 30%);
    }
    25%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 15%, rgba(192,192,192,0.5) 25%, rgba(0,0,0,0.5) 35%);
    }
    30%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 20%, rgba(192,192,192,0.5) 30%, rgba(0,0,0,0.5) 40%);
    }
    35%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 25%, rgba(192,192,192,0.5) 35%, rgba(0,0,0,0.5) 45%);
    }
    40%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 30%, rgba(192,192,192,0.5) 40%, rgba(0,0,0,0.5) 50%);
    }
    45%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 35%, rgba(192,192,192,0.5) 45%, rgba(0,0,0,0.5) 55%);
    }
    50%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 40%, rgba(192,192,192,0.5) 50%, rgba(0,0,0,0.5) 60%);
    }
    55%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 45%, rgba(192,192,192,0.5) 55%, rgba(0,0,0,0.5) 65%);
    }
    60%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 50%, rgba(192,192,192,0.5) 60%, rgba(0,0,0,0.5) 70%);
    }
    65%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 55%, rgba(192,192,192,0.5) 65%, rgba(0,0,0,0.5) 75%);
    }
    70%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 60%, rgba(192,192,192,0.5) 70%, rgba(0,0,0,0.5) 80%);
    }
    75%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 65%, rgba(192,192,192,0.5) 75%, rgba(0,0,0,0.5) 85%);
    }
    80%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 70%, rgba(192,192,192,0.5) 80%, rgba(0,0,0,0.5) 90%);
    }
    85%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 75%, rgba(192,192,192,0.5) 85%, rgba(0,0,0,0.5) 95%);
    }
    90%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 80%, rgba(192,192,192,0.5) 90%, rgba(0,0,0,0.5) 100%);
    }
    95%{
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 85%, rgba(192,192,192,0.5) 95%);
    }
    100% {
        background: linear-gradient(160deg, rgba(0,0,0,0.5) 90%, rgba(192,192,192,0.5) 100%);
    }
}

.gr2Title>h2 {
    font-family: lobster;
}

.gr2Title>h3 {
    font-family: Space Mono;
}

.redCar{
    overflow: hidden !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}