/**
 * long description for the file
 * @summary css for the about page
 * @author Cliff Crerar
 * Created at     : 2018-05-02 22:02:56
 * Last modified  : 2018-06-25 18:46:51
 */

/* for bacground carousel*/

.slick-carousel{
    height: 100%;
    overflow: hidden;
}

.slick-item{
    height: 100% !important;
    width: auto !important;
}

/* Content css */

.fore-subsection{
    position: absolute;
    bottom: 0;
    height: 90vh;
    width: 100vw;
}

.about-left, .about-right{
    height: 100%;
    border: 1px solid wheat
}

.abt-sub-title{
    font-family: JOSEFIN SANS/* POIRET ONE JOSEFIN SANS */;
    font-weight: bold;
    font-size: calc(100px + 1vh);
}

.abt-card{
    height: 90vh;
}

.abt-card-header{
    height: 100px !important;
}

.abt-btn{
    width: 20%;
}

.about-details-section {
    overflow: scroll;
}

.abt-scroller>h3 {
    color: black
}

.abt-scroller>p {
    font-size: 0.5em;;
}

.card-footer{
    font-size: 0.5em;
}

