.flash {
    -o-animation: flash 2s ease-out;
    -moz-animation: flash 2s ease-out;
    -webkit-animation: flash 2s ease-out;
    -ms-animation: flash 2s ease-out;
    animation: flash 2s ease-out;
    -o-animation-iteration-count: 10;
    -moz-animation-iteration-count: 10;
    -webkit-animation-iteration-count: 10;
    -ms-animation-iteration-count: 10;
    animation-iteration-count: 10;
}

@keyframes flash {
    0% {
        color: transparent;
    }
    50% {
        color: white;
    }
    100% {
        color: transparent;
    }
}

@-webkit-keyframes flash {
    0% {
        color: transparent;
    }
    50% {
        color: white;
    }
    100% {
        color: transparent;
    }
}

@-moz-keyframes flash {
    0% {
        color: transparent;
    }
    50% {
        color: white;
    }
    100% {
        color: transparent;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@-o-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}